<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
  <%- partial("../_partials/head") %>

  <body>
    <%- partial("../_partials/header-interior") %>

    <%- yield %>

    <%- partial("../_partials/footer") %>
  </body>
</html>