
<div id="cssday" class="">
  <div class="banner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h1>BrowserDay</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h3>Sponsors</h3>
        </div>
      </div>
    </div>


    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h3>Curator &amp; Staff</h3>

          <p>If you have any questions or comments aboout CascadiaCSS, talk
          to these folks</p>
        </div>

        <div class="col-xs-3">
          <h4></h4>
        </div>

        <div class="col-xs-3">
          <h4>Tracy Hinds</h4>
        </div>

        <div class="col-xs-3">
          <h4>Carter Rabasa</h4>
        </div>

        <div class="col-xs-12">
          <h5>Talk Review Comittee</h5>
        </div>
      </div>
    </div>


  </div>


</div>