<div id="cjs2015-coc" class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="code col-md-10 col-md-offset-1 text-center">
        <h3>Code of Conduct</h3>
        <h4>CascadiaJS ♥s You</h4>

        <p>We are an inclusive, kind community that is constantly growing.
        Please find our <a href="https://github.com/cascadiajs/2015.cascadiajs.com/blob/master/COC.md">Code of
        conduct</a>, and try and make your fellow Cascadians
        (&amp; fellow programmers) feel welcome!</p>

      </div>
    </div>
  </div>
</div>