<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h3>CascadiaFest 2015</h3>
      </div>
      <div class="col-sm-4">
        <p>CascadiaJSFest is a three-day, community-driven conference on the
        cutting edge of JavaScript and CSS. Browser, server, OS – we cover it all.</p>

        <p>&copy; 2015 CascadiaFest</p>

        <h4>Contact Us: <a href="mailto:info@cascadiajs.com">info@cascadiajs.com</a></h4>

        <p>
        Previous: <a href="http://2012.cascadiajs.com/">2012</a>, <a href="http://2013.cascadiajs.com/">2013</a>, <a href="http://2014.cascadiajs.com/">2014</a>
        </p>
      </div>

      <div class="col-sm-4">
        <h4>Code of Conduct</h4>

        <p>We are an inclusive, kind community that is constantly growing.
        Please find our <a href="https://github.com/cascadiajs/2015.cascadiajs.com/blob/master/COC.md">Code of
        conduct</a>, and try and make your fellow Cascadians
        (&amp; fellow programmers) feel welcome!</p>
      </div>

      <div class="col-sm-4">
        <h4>Latest News</h4>

        <%
        var d = 0;
        for(var slug in public.news._data) {
          var metadata = public.news._data[slug];

          if(metadata.layout == '_layout_speaker' && typeof metadata.postTitle == 'undefined') {
            var speakerData = public.speakers._data.index.speakers[metadata.day][metadata.speakerID];

            metadata.postTitle = 'Introducing ' + speakerData.name;
          }
          %>
          <h2><a href="/news/<%= slug %>"><%= public.news._data[slug].postTitle %></a></h2>

          <%
          if(++d >= 5) {
            break;
          }
        }
        %>
      </div>

    </div>
  </div>
</footer>

<div class="modal fade" id="semiahmoo-map" tabindex="-1" role="dialog" aria-labelledby="mapLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="mapLabel">Semiahmoo Map</h4>
      </div>
      <div class="modal-body">
        <img src="/assets/img/semiahmoo-map.png" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<%
var scripts = scripts || public._data.scripts;
scripts.forEach(function (script) { %>
<script src="<%= script %>"></script>
<% }) %>

<script>
  $('.js-speaker-group').each(function () {
    var $speakers = $(this).find('.speaker');
    var $activeSpeaker = $speakers.eq(Math.floor(Math.random() * $speakers.length - 1));

    $activeSpeaker.css('display', 'block');
  });

  $('.speaker:visible').each(function (index, elem) {
    var $img = $(elem).find('img');
    $img.attr('src', $img.data('src'));
  });

  function startCaptions() {
    $('#caption').each(function () {
      var defaults = {
          "ff": "Verdana,sans-serif",
          "fs": "18",
          "fgc": "ffffff",
          "bgc": "1C2E4C",
          "header": true,
          "controls": false,
          "footer": false,
          "chat": false
        },
        options = $.extend({}, defaults, JSON.parse(localStorage['captionOptions'] || '{}')),
        queryString = 'event=CascadiaFest2015&' + (function (params) {
          var chunks = [];
          for(var key in params) {
            chunks.push(key + '=' + params[key]);
          }
          return chunks.join('&');
        })(options),
        url = 'http://www.streamtext.net/player?' + queryString;

      localStorage['captionOptions'] = JSON.stringify(options);

      queryString = queryString

      console.log('Current captioning options')
      console.log(options);

      $(this).attr('src', url);
    });
  }

  console.log('You can customize captions by setting an object `localStorage["captionOptions"]`.');
  console.log('Make sure to json encode it and then run startCaptions()');
  startCaptions();

  function toggleCaptionHeader() {
    var options = JSON.parse(localStorage.getItem('captionOptions') || '{}');

    options.header = !options.header;

    localStorage.setItem('captionOptions', JSON.stringify(options));
    console.log(options);

    startCaptions();
  }

  function toggleCaptionColors() {
    var options = JSON.parse(localStorage.getItem('captionOptions') || '{}');

    var temp = options.bgc;

    options.bgc = options.fgc;
    options.fgc = temp;

    localStorage.setItem('captionOptions', JSON.stringify(options));

    startCaptions();
  }

  function resetCaptions() {
    localStorage.setItem('captionOptions', '{}');
    startCaptions();
  }

  function getQueryParam(url, name) {
      name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
      var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
          results = regex.exec(url);
      return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
  }
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58428228-1', 'auto');
  ga('send', 'pageview');
</script>
