<%
function talks(arr) {
  arr.forEach(function (talk) {
    var speakers = public.speakers._data.index.speakers.browser,
        match = [];

    match = speakers.filter(function (value) {
      var name = value.name.toLowerCase().split(' ');
      value.first = name[0];
      value.last = name[name.length-1];

      for(var key in value) {
        if(typeof talk[key] !== 'undefined' && talk[key] == value[key]) {
          return true;
        }
      }

      return false;
    });

    if(!match.length) {
      return;
    }
    %>

    <%-
    partial(
      '../_partials/schedule/talk.ejs',
      match[0]
    )
    %>
  <% });
}
%>


<div id="schedule" class="day-schedule container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="first-title">Schedule <small>brought to you by</small></h2>

      <img src="/assets/img/sponsors/groupon/logo.svg" style="height: 75px;" />
    </div>
  </div>

  <table class="table table-condensed table-hover">
    <tbody>
      <tr class="success">
        <td class="time">8:30am</td>
        <td>
          <p><span class="uppercase">Registration &amp; Breakfast</span></p>
        </td>
      </tr>
      <tr class="info">
        <td class="time">9:15am</td>
        <td>
          <span class="uppercase">Opening Ceremony</span>
        </td>
      </tr>
      <tr>
        <td class="time">9:30am</td>
        <td>
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <h4>Talks</h4>

              <ul>
                <% talks([{"last": "beck"}, {"last": "holmes"}, {"last": "justice"}]); %>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5">
              <h4>Workshop</h4>

              <p>
                Internet All The Things With Node.js + Intel Edison
              </p>
            </div>
          </div>
        </td>
      </tr>
      <tr class="info">
        <td class="time">11am</td>
        <td>
          <span class="uppercase">Coffee &amp; Snack Break</span>
        </td>
      </tr>
      <tr>
        <td class="time">11:20am</td>
        <td>
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <h4>Talks</h4>

              <ul>
                <%
                talks([
                  {"last": "gontovnikas"}, {"last": "catuhe"}, {"last": "borins"}
                ]);
                %>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5">
              <p>
                Internet All The Things With Node.js + Intel Edison (continued)
              </p>
            </div>
          </div>
        </td>
      </tr>
      <tr class="success">
        <td class="time">12:45pm</td>
        <td>
          <p>
            <span class="uppercase">Lunch</span> presented by

            <img src="/assets/img/sponsors/SauceLabs/200.jpg" height="50" />
          </p>
        </td>
      </tr>

      <tr>
        <td class="time">2:15pm</td>
        <td>
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <h4>Talks</h4>

              <ul>
                <%
                talks([
                  {"last": "hemphill"}, {"last": "pike"}, {"last": "straub"}
                ]);
                %>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5">
              <div class="workshop">
                <p>
                  Building Node.js apps - IBM BlueMix
                </p>
              </div>
            </div>
          </div>
        </td>
      </tr>

      <tr class="info">
        <td class="time">3:40pm</td>
        <td class="uppercase">
          Break
        </td>
      </tr>

      <tr>
        <td class="time">4:00pm</td>
        <td>
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <h4>Talks</h4>

              <ul>
                <%
                talks([
                  {"last": "thornton"}, {"last": "kashcha"}, {"last": "williams"}
                ]);
                %>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5">
              <div class="workshop">
                <p>
                  Building Node.js apps - IBM BlueMix
                </p>
              </div>
            </div>
          </div>
        </td>
      </tr>

      <tr class="success">
        <td class="time">6pm</td>
        <td>
          <p>
            <span class="uppercase">Dinner &amp; Party</span> with

            <img src="/assets/img/sponsors/hbo/logo.svg" height="50" />
          </p>
        </td>
      </tr>
    </tbody>
  </table>

</div>