<%
function talks(arr) {
  arr.forEach(function (talk) {
    var speakers = public.speakers._data.index.speakers.browser,
        match = [];

    match = speakers.filter(function (value) {
      var name = value.name.toLowerCase().split(' ');
      value.first = name[0];
      value.last = name[name.length-1];

      for(var key in value) {
        if(typeof talk[key] !== 'undefined' && talk[key] == value[key]) {
          return true;
        }
      }

      return false;
    });

    if(!match.length) {
      return;
    }
    %>

    <%-
    partial(
      '../_partials/schedule/talk.ejs',
      match[0]
    )
    %>
  <% });
}
%>


<div id="schedule" class="day-schedule container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="first-title">Schedule <small>brought to you by</small></h2>

      <img src="/assets/img/sponsors/groupon/logo.svg" style="height: 75px;" />
    </div>
  </div>

  <table class="table table-condensed table-hover">
    <tbody>
      <tr class="success">
        <td class="time">8:30am</td>
        <td>
          <p><span class="uppercase">Registration &amp; Breakfast</span></p>
          <p>
            Registration:
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
              Semiahmoo Ballroom
            </button>

            Breakfast:
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
              Deck
            </button>
          </p>
        </td>
      </tr>
      <tr class="info">
        <td class="time">9:15am</td>
        <td>
          <span class="uppercase">Opening Ceremony</span>
          <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
            Semiahmoo Ballroom
          </button>
        </td>
      </tr>
      <tr>
        <td class="time">9:30am</td>
        <td>
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <h4>
                Talks
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
                  Semiahmoo Ballroom
                </button>
              </h4>

              <ul>
                <% talks([{"last": "beck"}, {"last": "holmes"}, {"last": "justice"}]); %>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5">
              <h4>
                Workshop
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
                  San Juan Ballroom
                </button>
              </h4>

              <p>
                <span class="speaker uppercase">Internet All The Things With Node.js + Intel Edison</span><br/>
                <a class="btn btn-primary btn-lg" href="https://ti.to/event-loop/cjsfest-2015/with/8ocmkfgtr8y">RSVP</a>
              </p>
            </div>
          </div>
        </td>
      </tr>
      <tr class="info">
        <td class="time">11am</td>
        <td>
          <span class="uppercase">Coffee Break</span>
        </td>
      </tr>
      <tr>
        <td class="time">11:20am</td>
        <td>
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <h4>
                Talks
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
                  Semiahmoo Ballroom
                </button>
              </h4>

              <ul>
                <%
                talks([
                  {"last": "gontovnikas"}, {"last": "catuhe"}, {"last": "borins"}
                ]);
                %>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5">
              <p>
                Internet All The Things With Node.js + Intel Edison (continued)
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
                  San Juan Ballroom
                </button>
              </p>
            </div>
          </div>
        </td>
      </tr>
      <tr class="success">
        <td class="time">12:45pm</td>
        <td>
          <p>
            <span class="uppercase">Lunch</span> presented by

            <img src="/assets/img/sponsors/SauceLabs/200.jpg" height="50" />
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
              Deck
            </button>
          </p>
        </td>
      </tr>

      <tr>
        <td class="time">2:15pm</td>
        <td>
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <h4>
                Talks
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
                  Semiahmoo Ballroom
                </button>
              </h4>

              <ul>
                <%
                talks([
                  {"last": "hemphill"}, {"last": "pike"}, {"last": "straub"}
                ]);
                %>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5">
              <div class="workshop">
                <h4>
                  Workshop
                  <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
                    San Juan Ballroom
                  </button>
                </h4>
                <p>
                  <span class="speaker uppercase">Building Node.js apps - IBM BlueMix</span><br/>
                  <a class="btn btn-primary btn-lg" href="https://ti.to/event-loop/cjsfest-2015/with/eugev9el9no">RSVP</a>
                </p>
              </div>
            </div>
          </div>
        </td>
      </tr>

      <tr class="info">
        <td class="time">3:40pm</td>
        <td class="uppercase">
          Break
        </td>
      </tr>

      <tr>
        <td class="time">4:00pm</td>
        <td>
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <h4>
                Talks
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
                  Semiahmoo Ballroom
                </button>
              </h4>

              <ul>
                <%
                talks([
                  {"last": "thornton"}, {"last": "kashcha"}, {"last": "williams"}
                ]);
                %>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5">
              <div class="workshop">
                <p>
                  Building Node.js apps - IBM BlueMix
                  <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
                    San Juan Ballroom
                  </button>
                </p>
              </div>
            </div>
          </div>
        </td>
      </tr>

      <tr class="success">
        <td class="time">6pm</td>
        <td>
          <p>
            <span class="uppercase">Dinner &amp; Party</span> with

            <img src="/assets/img/sponsors/hbo/logo.svg" height="50" />
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
              Deck
            </button>
            and
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
              Pool
            </button>
          </p>
        </td>
      </tr>

      <tr class="info">
        <td class="time">10:00pm</td>
        <td>
          Mystery Movie Night

          <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
            Discovery Theater
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>