<div class="day-schedule container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-7">

      <h2 class="first-title">Schedule</h2>
      <table class="schedule css">
        <tbody>
          <tr>
            <td class="time">09:00</td>
            <td class="title">Resgistration  -  <span class="text-lower">coffee provided by <a href="#">MICROSOFT</a></span></td>
            <td class="local"></td>
          </tr>
          <tr>
            <td class="time">10:00</td>
            <td class="title"><a class="speaker" href="#">The Stranger</a></td>
            <td class="local"></td>
          </tr>
          <tr>
            <td class="time">11:00</td>
            <td class="title"><a class="speaker" href="#">Leslie Knope</a></td>
            <td class="local"></td>
          </tr>
          <tr>
            <td class="time">12:00</td>
            <td class="title">Lunch</td>
            <td class="local"></td>
          </tr>
          <tr>
            <td class="time">13:45</td>
            <td class="title"><a class="speaker" href="#">Bill Murray</a></td>
            <td class="local"></td>
          </tr>

          <tr>
            <td class="time">15:00</td>
            <td class="title"><a class="speaker" href="#">Astrid Farnsworth</a></td>
            <td class="local"></td>
          </tr>
          <tr>
            <td class="time">16:30</td>
            <td class="title"><a class="speaker" href="#">Jimi Hendrix</a></td>
            <td class="local"></td>
          </tr>
          <tr>
            <td class="time">17:30</td>
            <td class="title">Break</td>
            <td class="local"></td>
          </tr>
          <tr>
            <td class="time">18:00</td>
            <td class="title"><a class="speaker" href="#">The Stranger</a></td>
            <td class="local"></td>
          </tr>
          <tr >
            <td class="time">19:00</td>
            <td colspan="2" class="title">PARTY TIME</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>