
<div id="cssday" class="">
  <div class="banner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">

          <div class="col-xs-10 col-sm-8">
            <h1>Cascadia<span class="thin">CSS</span></h1>
            <p class="left">CascadiaCSS is a one-day CSS conference.</p>
          </div>
          <div class="col-xs-2">
            <img src="../assets/img/cssday/hexgradient.svg" />
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <div class="content">

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="first-title">Schedule</h2>
        </div>
        <div class="col-xs-12 col-sm-7">

          <table class="schedule css">
            <tbody>
              <tr>
                <td class="time">09:00</td>
                <td class="title">Resgistration  -  <span class="lower">coffee provided by <a href="#">MICROSOFT</a></span></td>
                <td class="local"></td>
              </tr>
              <tr>
                <td class="time">10:00</td>
                <td class="title"><a class="speaker" href="#">The Stranger</a></td>
                <td class="local"></td>
              </tr>
              <tr>
                <td class="time">11:00</td>
                <td class="title"><a class="speaker" href="#">Leslie Knope</a></td>
                <td class="local"></td>
              </tr>
              <tr>
                <td class="time">12:00</td>
                <td class="title">Lunch</td>
                <td class="local"></td>
              </tr>
              <tr>
                <td class="time">13:45</td>
                <td class="title"><a class="speaker" href="#">Bill Murray</a></td>
                <td class="local"></td>
              </tr>

              <tr>
                <td class="time">15:00</td>
                <td class="title"><a class="speaker" href="#">Astrid Farnsworth</a></td>
                <td class="local"></td>
              </tr>
              <tr>
                <td class="time">16:30</td>
                <td class="title"><a class="speaker" href="#">Jimi Hendrix</a></td>
                <td class="local"></td>
              </tr>
              <tr>
                <td class="time">17:30</td>
                <td class="title">Break</td>
                <td class="local"></td>
              </tr>
              <tr>
                <td class="time">18:00</td>
                <td class="title"><a class="speaker" href="#">The Stranger</a></td>
                <td class="local"></td>
              </tr>
              <tr >
                <td class="time">19:00</td>
                <td colspan="2" class="title">PARTY TIME</td>
              </tr>
            </tbody>
          </table>

        </div>

        <div class="col-xs-12 col-sm-5">
          <div id="sponsors" class="text-center">
            <h3>Cascadia<span class="thin">CSS</span> Sponsors</h3>
          </div>
        </div>

      </div>
    </div>

    <div id="speakers">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h3>Speakers</h3>

            <div class="speaker">
              <img src="/assets/img/curator/demo-image-01.png" class="profile-image"/>
              <h4>Leslie Knope</h4>
              <p><a href="#tite-of-talk">The title of this amazing talk on elements</a></p>
            </div>
            <div class="speaker">
              <img src="/assets/img/curator/demo-image-02.png" class="profile-image"/>
              <h4>Leslie Knope</h4>
              <p><a href="#tite-of-talk">The title of this amazing talk on elements</a></p>
            </div>
            <div class="speaker">
              <img src="/assets/img/curator/demo-image-03.png" class="profile-image"/>
              <h4>Leslie Knope</h4>
              <p><a href="#tite-of-talk">The title of this amazing talk on elements</a></p>
            </div>
            <div class="speaker">
              <img src="/assets/img/curator/demo-image-04.png" class="profile-image"/>
              <h4>Leslie Knope</h4>
              <p><a href="#tite-of-talk">The title of this amazing talk on elements</a></p>
            </div>
            <div class="speaker">
              <img src="/assets/img/curator/demo-image-05.png" class="profile-image"/>
              <h4>Leslie Knope</h4>
              <p><a href="#tite-of-talk">The title of this amazing talk on elements</a></p>
            </div>

            <div class="speaker">
              <img src="/assets/img/curator/demo-image-01.png" class="profile-image"/>
              <h4>Leslie Knope</h4>
              <p><a href="#tite-of-talk">The title of this amazing talk on elements</a></p>
            </div>
            <div class="speaker">
              <img src="/assets/img/curator/demo-image-02.png" class="profile-image"/>
              <h4>Leslie Knope</h4>
              <p><a href="#tite-of-talk">The title of this amazing talk on elements</a></p>
            </div>
            <div class="speaker">
              <img src="/assets/img/curator/demo-image-03.png" class="profile-image"/>
              <h4>Leslie Knope</h4>
              <p><a href="#tite-of-talk">The title of this amazing talk on elements</a></p>
            </div>
            <div class="speaker">
              <img src="/assets/img/curator/demo-image-04.png" class="profile-image"/>
              <h4>Leslie Knope</h4>
              <p><a href="#tite-of-talk">The title of this amazing talk on elements</a></p>
            </div>
            <div class="speaker">
              <img src="/assets/img/curator/demo-image-05.png" class="profile-image"/>
              <h4>Leslie Knope</h4>
              <p><a href="#tite-of-talk">The title of this amazing talk on elements</a></p>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div id="curators">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h3>Curator &amp; Staff</h3>

            <p>If you have any questions or comments aboout CascadiaCSS, talk
            to these folks</p>
          </div>
          <div class="col-sm-6 col-md-8">
            <div class="col-xs-12 col-sm-4">
              <img src="/assets/img/curator/demo-image-02.png" class="profile-image"/>
              <h4>Alex Lande</h4>
              <p><a href="#twitter">@nomdetwitter</a></p>
            </div>

            <div class="col-xs-12 col-sm-4">
              <img src="/assets/img/curator/demo-image-01.png" class="profile-image"/>
              <h4>Tracy Hinds</h4>
              <p><a href="#twitter">@nomdetwitter</a></p>
            </div>

            <div class="col-xs-12 col-sm-4">
              <img src="/assets/img/curator/demo-image-03.png" class="profile-image"/>
              <h4>Carter Rabasa</h4>
              <p><a href="#twitter">@nomdetwitter</a></p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <h5 class="text-center">Talk Review Comittee</h5>
            <ul class="text-center list-unstyled">
              <li><a href="#">Nom De Plume</a> | <a class="blue" href="twitter">@nomdetwitter</a></li>
              <li><a href="#">Nom De Plume</a> | <a class="blue" href="twitter">@nomdetwitter</a></li>
              <li><a href="#">Nom De Plume</a> | <a class="blue" href="twitter">@nomdetwitter</a></li>
              <li><a href="#">Nom De Plume</a> | <a class="blue" href="twitter">@nomdetwitter</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>