<div class="banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">

        <h1>Schedule</h1>
        <p class="left lead">ics calendars for CascadiaFest</p>

      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h2><a href="/schedule/fest.ics">Full Fest Calendar</a></h2>
        <h2><a href="/schedule/css.ics">CascadiaCSS Calendar</a></h2>
        <h2><a href="/schedule/browser.ics">CascadiaJS Browser Day Calendar</a></h2>
        <h2><a href="/schedule/server.ics">CascadiaJS Server Day Calendar</a></h2>
      </div>
    </div>
  </div>
</div>