
<%
function talks(arr) {
  arr.forEach(function (talk) {
    var speakers = public.speakers._data.index.speakers.css,
        match = [];

    match = speakers.filter(function (value) {
      var name = value.name.toLowerCase().split(' ');
      value.first = name[0];
      value.last = name[name.length-1];

      for(var key in value) {
        if(typeof talk[key] !== 'undefined' && talk[key] == value[key]) {
          return true;
        }
      }

      return false;
    });

    if(!match.length) {
      return;
    }
    %>

    <%-
    partial(
      '../_partials/schedule/talk.ejs',
      match[0]
    )
    %>
  <% });
}
%>


<div id="schedule" class="day-schedule container-fluid">

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h2 class="first-title">Schedule <small>brought to you by</small></h2>

      <img src="/assets/img/sponsors/formidable/logo.svg" height="75"/>
    </div>
  </div>


  <table class="table table-hover">
    <tbody>
      <tr class="success">
        <td class="time">8:30am</td>
        <td>
          <p>
            <span class="uppercase">Registration &amp; Breakfast</span>
          </p>
          <p>
            Registration:
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
              Semiahmoo Ballroom
            </button>

            Breakfast:
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
              Deck
            </button>
          </p>
        </td>

      </tr>

      <tr class="info">
        <td class="time">9:15am</td>
        <td>
          <span class="uppercase">Opening Ceremony</span>
          <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
            Semiahmoo Ballroom
          </button>
        </td>
      </tr>

      <tr>
        <td class="time">9:30am</td>
        <td>
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <h4>
                Talks
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
                  Semiahmoo Ballroom
                </button>
              </h4>
              <ul>
                <% talks([{"last": "mooiman"}, {"last": "lembeck"}, {"last": "taylor"}]); %>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5">
              <div class="workshop">
                <h4>
                  Workshop
                  <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
                    San Juan Ballroom
                  </button>
                </h4>

                <p>
                  <span class="speaker uppercase">Coding For Kids - Seattle Coder Dojo</span><br />
                  <a class="btn btn-primary btn-lg" href="https://ti.to/event-loop/cjsfest-2015">RSVP</a><br />
                </p>
              </div>
            </div>
          </div>
        </td>
      </tr>

      <tr class="info">
        <td class="time">11:00am</td>
        <td>
          <span class="uppercase">Coffee Break</span>
        </td>
      </tr>

      <tr>
        <td class="time">11:20am</td>
        <td>
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <h4>
                Talks
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
                  Semiahmoo Ballroom
                </button>
              </h4>
              <ul>
                <%
                talks([
                  {"last": "adams"}, {"last": "vazquez"}, {"last": "brown"}
                ]);
                %>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5">
              <div class="workshop">
                <h4>
                  Workshop
                  <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
                    San Juan Ballroom
                  </button>
                </h4>
                <p>
                  Coding for Kids (continued)
                </p>
              </div>
            </div>
          </div>
        </td>
      </tr>

      <tr class="success">
        <td class="time">12:45pm</td>
        <td>
          <span class="uppercase">Lunch</span>
          <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
            Deck
          </button>

          presented by

          <img src="/assets/img/sponsors/formidable/logo.svg" height="20"/>
        </td>
      </tr>

      <tr class="">
        <td class="time">1:45pm</td>
        <td>
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              CSS Layer Tennis
              <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
                Semiahmoo Ballroom
              </button>

              <h4 style="margin-top: .5em;">
                Talks
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
                  Semiahmoo Ballroom
                </button>
              </h4>

              <p><i>Starts at 2:45pm</i></p>

              <ul>
                <%
                talks([
                  {"last": "howe"}, {"last": "ormandy"}
                ]);
                %>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5 pull-right">
              <div class="workshop">
                <h4>
                  Workshop
                  <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
                    San Juan Ballroom
                  </button>
                </h4>
                <p><i>Starts at 2:15pm</i></p>

                <p>
                  <span class="speaker uppercase">Learn Cool Tricks Using Internet Connected Hardware - Hackster.io</span>
                </p>



                <p><a class="btn btn-primary btn-lg" href="https://ti.to/event-loop/cjsfest-2015/with/mnuh-tffgqe">RSVP</a></p>
              </div>
            </div>
          </div>
        </td>
      </tr>

      <tr class="info">
        <td class="time">3:40pm</td>
        <td>
          Break
        </td>
      </tr>

      <tr>
        <td class="time">4:00pm</td>
        <td>
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <h4>
                Talks
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
                  Semiahmoo Ballroom
                </button>
              </h4>

              <ul>
                <%
                talks([
                  {"last": "peterson"}, {"last": "vincent"}, {"last": "kravets"}
                ]);
                %>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5">
              <div class="workshop">
                <p>
                  Hackster.io Workshop (continued)
                  <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
                    San Juan Ballroom
                  </button>
                </p>
              </div>
            </div>
          </div>
        </td>
      </tr>

      <tr class="success">
        <td class="time">6:00pm</td>
        <td>
          <span class="uppercase">Dinner &amp; Party</span> with
          <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
            Deck
          </button>

          <img src="/assets/img/sponsors/ibmbluemix/logo.svg" style="height: 100px;" />
        </td>
      </tr>
      <tr class="info">
        <td class="time">10:00pm</td>
        <td>
          Mystery Movie Night

          <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
            Discovery Theater
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div>
    <h1>Friends and Family Track</h1>
    <h2>Walk Your Way Through Bellingham | 10:15 AM - 6:15 PM</h2>

    <p>Meet at the Front Desk at 10:15</p>
  </div>
</div>