<%
function talks(arr) {
  arr.forEach(function (talk) {
    var speakers = public.speakers._data.index.speakers.css,
        match = [];

    match = speakers.filter(function (value) {
      var name = value.name.toLowerCase().split(' ');
      value.first = name[0];
      value.last = name[name.length-1];

      for(var key in value) {
        if(typeof talk[key] !== 'undefined' && talk[key] == value[key]) {
          return true;
        }
      }

      return false;
    });

    if(!match.length) {
      return;
    }
    %>

    <%-
    partial(
      '../_partials/schedule/talk.ejs',
      match[0]
    )
    %>
  <% });
}
%>


<div id="schedule" class="day-schedule container-fluid">

  <h2 class="first-title">Schedule</h2>

  <table class="table">
    <tbody>
      <tr>
        <td class="time">08:30</td>
        <td>
          <span class="uppercase">Registration &amp; Breakfast</span>
        </td>
        <td>
          presented by
          <div class="sponsor"><img src="/assets/img/sponsors/formidable/logo.svg" height="20"/></div>
        </td>

      </tr>

      <tr>
        <td class="time">09:15</td>
        <td colspan="2">
          <span class="uppercase">Opening Ceremony</span>
        </td>
      </tr>

      <tr>
        <td class="time">09:30</td>
        <td colspan="2">
          <div class="row">
            <div class="col-xs-12 col-sm-7">

              <ul>
                <% talks([{"last": "mooiman"}, {"last": "lembeck"}]); %>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5">
              <div class="workshop">
                <h5>Workshop</h5>

                <p>
                  <b>Greg Bulmash</b><br />
                  Coding For Kids (Part 1)
                  <a href="https://ti.to/event-loop/cjsfest-2015">Register for Free</a><br />
                </p>
              </div>
            </div>
          </div>
        </td>
      </tr>

      <tr>
        <td class="time">11:00</td>
        <td colspan="2">
          <span class="uppercase">Coffee &amp; Snack Break</span>
        </td>
      </tr>
      <tr>
        <td class="time">11:20</td>
        <td colspan="2">
          <div class="row">
            <div class="col-xs-12 col-sm-7">

              <ul>
                <%
                talks([
                  {"last": "taylor"}, {"last": "adams"}, {"last": "vazquez"}
                ]);
                %>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5">
              <div class="workshop">
                <h5>Workshop</h5>
                <p>
                  <b>Greg Bulmash</b>
                  <br />
                  Coding for Kids (Part 2)
                </p>
              </div>
            </div>
          </div>
        </td>
      </tr>

      <tr>
        <td class="time">12:45</td>
        <td colspan="2">
          <span class="uppercase">Lunch</span>
        </td>
      </tr>

      <tr>
        <td class="time">14:15</td>
        <td colspan="2">
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <h4>Talks</h4>

              <ul>
                <%
                talks([
                  {"last": "peterson"}, {"last": "howe"}, {"last": "ormandy"}
                ]);
                %>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5">
            </div>
          </div>
        </td>
      </tr>

      <tr>
        <td class="time">15:40</td>
        <td>
          Break
        </td>
      </tr>

      <tr>
        <td class="time">16:00</td>
        <td colspan="2">
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <h4>Talks</h4>

              <ul>
                <%
                talks([
                  {"last": "brown"}, {"last": "vincent"}, {"last": "kravets"}
                ]);
                %>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5">
            </div>
          </div>
        </td>
      </tr>

      <tr>
        <td class="time">18:00</td>
        <td colspan="2">
          <span class="uppercase">Dinner &amp; Party</span>
        </td>
      </tr>
    </tbody>
  </table>

</div>