<%
function talks(arr) {
  arr.forEach(function (talk) {
    var speakers = public.speakers._data.index.speakers.css,
        match = [];

    match = speakers.filter(function (value) {
      var name = value.name.toLowerCase().split(' ');
      value.first = name[0];
      value.last = name[name.length-1];

      for(var key in value) {
        if(typeof talk[key] !== 'undefined' && talk[key] == value[key]) {
          return true;
        }
      }

      return false;
    });

    if(!match.length) {
      return;
    }
    %>

    <%-
    partial(
      '../_partials/schedule/talk.ejs',
      match[0]
    )
    %>
  <% });
}
%>


<div id="schedule" class="day-schedule container-fluid">

  <h2 class="first-title">Schedule</h2>

  <table class="table table-hover">
    <tbody>
      <tr class="success">
        <td class="time">8:30am</td>
        <td>
          <p>
            <span class="uppercase">Registration &amp; Breakfast</span>
            presented by

            <img src="/assets/img/sponsors/formidable/logo.svg" height="20"/>
          </p>
        </td>

      </tr>

      <tr class="info">
        <td class="time">9:15am</td>
        <td>
          <span class="uppercase">Opening Ceremony</span>
        </td>
      </tr>

      <tr>
        <td class="time">9:30am</td>
        <td>
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <h4>Talks</h4>
              <ul>
                <% talks([{"last": "mooiman"}, {"last": "lembeck"}]); %>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5">
              <div class="workshop">
                <h4>Workshop</h4>

                <p>
                  <b>Greg Bulmash</b><br />
                  Coding For Kids
                  <a href="https://ti.to/event-loop/cjsfest-2015">Register for Free</a><br />
                </p>
              </div>
            </div>
          </div>
        </td>
      </tr>

      <tr class="info">
        <td class="time">11:00am</td>
        <td>
          <span class="uppercase">Coffee &amp; Snack Break</span>
        </td>
      </tr>
      <tr>
        <td class="time">11:20am</td>
        <td>
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <h4>Talks</h4>
              <ul>
                <%
                talks([
                  {"last": "taylor"}, {"last": "adams"}, {"last": "vazquez"}
                ]);
                %>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5">
              <div class="workshop">
                <p>
                  Coding for Kids (continued)
                </p>
              </div>
            </div>
          </div>
        </td>
      </tr>

      <tr class="success">
        <td class="time">12:45pm</td>
        <td>
          <span class="uppercase">Lunch</span>
        </td>
      </tr>

      <tr>
        <td class="time">2:15pm</td>
        <td>
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <h4>Talks</h4>

              <ul>
                <%
                talks([
                  {"last": "peterson"}, {"last": "howe"}, {"last": "ormandy"}
                ]);
                %>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5">
            </div>
          </div>
        </td>
      </tr>

      <tr class="info">
        <td class="time">3:40pm</td>
        <td>
          Break
        </td>
      </tr>

      <tr>
        <td class="time">4:00pm</td>
        <td>
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <h4>Talks</h4>

              <ul>
                <%
                talks([
                  {"last": "brown"}, {"last": "vincent"}, {"last": "kravets"}
                ]);
                %>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5">
            </div>
          </div>
        </td>
      </tr>

      <tr class="success">
        <td class="time">6:00pm</td>
        <td>
          <span class="uppercase">Dinner &amp; Party</span>
        </td>
      </tr>
    </tbody>
  </table>

</div>