<div class="banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">

        <h1>Live Captions</h1>
        <p class="left lead">Live text of our talks</p>

      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container-fluid">

    <p>
      <button class="btn btn-info" onclick="toggleCaptionHeader();">Toggle Header</button>
      <button class="btn btn-info" onclick="toggleCaptionColors();">Toggle Colors</button>
    </p>

    <iframe id="caption" src=""></iframe>

  </div>
</div>