<div class="content">
  <div class="container-fluid">
    <p>
      <button class="btn btn-info" onclick="toggleCaptionHeader();">Toggle Header</button>
      <button class="btn btn-info" onclick="toggleCaptionColors();">Toggle Colors</button>
    </p>

    <iframe id="caption" src=""></iframe>

  </div>
</div>