<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <h1 class="fourohfour-title">404</h1>
      </div>

      <div class="col-xs-12 col-sm-8">
        <div class="fourohfour-content">
          <h2 class="fourohfour-subhead">Page Not Found</h2>

          <p>
            Sorry, there isn't a page at this location.
          </p>

          <p>
            You might have better luck finding what you're looking for if you start again at our <a href="/">home page</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
