<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
  <%- partial("_partials/head") %>

  <body>
    <div class="site">
      <%- partial("_partials/header") %>

      <div class="site-content"><%- yield %></div>

      <%- partial("_partials/footer") %>
    </div>
  </body>
</html>
