<div class="hero">
  <div class="container-fluid">
    <div class="row">
      <h1>
        CASCADIA<span class="thin">JS <span class="lightblue"><span>2</span><span style="letter-spacing: -1rem;">0</span><span style="letter-spacing: -.5rem">1</span><span>5</span></span></span>
      </h1>

      <p>
        <span>July 8th - 10th, 2015</span>
        <span class="spacer">|</span>
        <span class="thin green">Washington State</span>
      </p>

      <img src="/assets/img/white-tree.svg" />
    </div>
  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-push-2">
        <h2 id="about" class="text-center tagline"><strong>CascadiaJSFest</strong> is a three-day, community-driven
        conference on the cutting edge of JavaScript and CSS. Browser,
        server, OS – we cover it all.</h2>

        <%- partial("_partials/tickets/onsale") %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-push-3">
        <%- partial("_partials/newsletter") %>
      </div>
    </div>

    <hr />

  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h3 id="speaking" class="text-center">Speaking / Call For Proposals</h3>
      </div>
      <div class="col-xs-12 col-sm-4 col-sm-push-8">
        <p class="text-center">
          <a class="btn btn-primary btn-lg speak-at" href="https://github.com/cascadiajs/2015.cascadiajs.com/blob/master/proposals/README.md">
            Speak at CJSFest&nbsp;&nbsp;<i class="fa fa-microphone"></i>
          </a>
        </p>
      </div>
      <div class="text-justify col-xs-12 col-sm-8 col-sm-pull-4">

        <p>Cascadia JSFest 2015 is July 8th, 9th, and 10th just outside of Blaine, Washington, and
        we'd love for you to be a part of it! Each day is organized around a
        theme. Share your expertise with the Cascadia community on:</p>

        <ul>
          <li>CSS Day</li>
          <li>BrowserJS Day</li>
          <li>ServerJS Day</li>
        </ul>

        <p>The entire event is Cascadia JSFest and we're stoked that you're
        considering contributing to the fun!</p>

        <p>We invite the CSS and JavaScript community to submit talks for CJSFest
        2015 at the Semiahmoo Resort in Washington. This Call for Proposals will
        close on March 15th. Diversity of voices is important to our community,
        so please don't think that you need to be a programming celebrity in
        order to speak at CJSFest 2015. <strong class="blue">The deadline to submit a proposal is
        March 15, 2015 11:59pm UTC-1200</strong>. If it's still March 15th, no matter
        where you are in the world, you still have time! When you’re ready to
        submit a proposal, read the
        <a href="https://github.com/cascadiajs/2015.cascadiajs.com/blob/master/proposals/README.md">instructions on GitHub</a> to get started.</p>

        <p>You are free to submit (and even revise) proposals up until the
        deadline. Our reviewers will be offering feedback for those ambitious
        enough to get their talks submitted earlier. Please help us spread the word!</p>

      </div>
    </div>
  </div>
</div>

<div id="cjs2015-venue" class="content">
  <div class="container-fluid">
    <div class="row">
      <div id="venue" class="col-xs-12">
        <h3 class="text-center">The Venue &amp; Lodging</h3>
      </div>

      <div class="col-xs-12 col-sm-5 text-center">
        <address>
          <strong>Semiahmoo Resort</strong><br />
          9565 Semiahmoo Parkway,<br />
          Blaine, WA 98230</address>
      </div>

      <div class="col-xs-12 col-sm-7">
        <div class="well">
          <p>The Semiahmoo Resort will be the stomping ground for CJSFest
          2015. By taking over the resort, we get a unique opportunity both
          indoors and out to build an awesome three days of interacting
          with your JavaScript and CSS communities.</p>

          <p><strong>To secure on-site lodging, you must purchase the hotel add-on tickets. ONLY purchase lodging if you also have a conference ticket.</strong></p>

          <p>We suggest booking for July 7th check-in and a July 11th check-out in order to take full advantage of the fun schedule we're working on. This will ensure you'll attend all events we're offering as part of CJSFest 2015. If you            would like to stay at the venue longer and outside of the dates we are offering, please contact us at <a href="mailto:info@cascadiajs.com">info@cascadiajs.com</a> and let us know. We are still working with the resort to get the group rate and we want to make sure you get it!</p>

          <p>We are also working on arranging budget-friendly alternatives for lodging close to the venue. We highly recommend you book for July 7th-11th for maximum conference enjoyment!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="cjs2015-sponsor" class="content">
  <div class="container-fluid">
    <div class="row">
      <div id="sponsor" class="col-xs-12 text-center">
        <h3 class="">Sponsor Cascadia!</h3>

        <p>Interested in supporting artisanally crafted, shade-grown local
        JS and CSS developers?</p>
        
        <a class="btn btn-primary btn-lg" href="/assets/sponsor-brochure.pdf">
          Help by sponsoring CJSFest 2015!
        </a>
        
        <hr>
      </div>

      <div class="code col-md-10 col-md-offset-1 text-center">
        <h3>Code of Conduct</h3>
        <h4>CascadiaJS ♥s You</h4>

        <p>We are an inclusive, kind community that is constantly growing.
        Please find our <a href="https://github.com/cascadiajs/2015.cascadiajs.com/blob/master/COC.md">Code of
        conduct</a>, and try and make your fellow Cascadians
        (&amp; fellow programmers) feel welcome!</p>

      </div>
    </div>
  </div>
</div>

<div id="cjs2015-coc" class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="well">
          <h3>We Can't Wait to See You There</h3>
        </div>
      </div>
    </div>
  </div>
</div>
