<p class="text-center">
	<a class="btn btn-primary btn-lg" href="https://ti.to/event-loop/cjsfest-2015" data-href="/assets/soon.jpg">
		More tickets available 9am PST, April 15th!
		<span class="fa fa-ticket"></span>
	</a>
</p>
