<div class="well text-center">
  <h4>More tickets available 9am PDT, April 16th!</h4>
  <p>
    <a class="btn btn-primary btn-lg" href="https://ti.to/event-loop/cjsfest-2015" data-href="/assets/soon.jpg">
      Buy Now!
      <span class="fa fa-ticket"></span>
    </a>
  </p>
</div>