<%
function talks(arr) {
  arr.forEach(function (talk) {
    var speakers = public.speakers._data.index.speakers.server,
        match = [];

    match = speakers.filter(function (value) {
      var name = value.name.toLowerCase().split(' ');
      value.first = name[0];
      value.last = name[name.length-1];

      for(var key in value) {
        if(typeof talk[key] !== 'undefined' && talk[key] == value[key]) {
          return true;
        }
      }

      return false;
    });

    if(!match.length) {
      return;
    }
    %>

    <%-
    partial(
      '../_partials/schedule/talk.ejs',
      match[0]
    )
    %>
  <% });
}
%>


<div id="schedule" class="day-schedule container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="first-title">Schedule <small>brought to you by</small></h2>

      <img src="/assets/img/sponsors/hbo/logo.svg" style="height: 75px;" />
    </div>
  </div>

  <table class="table table-condensed table-hover">
    <tbody>
      <tr class="success">
        <th>8:30am</th>
        <td>
          <b>Registration &amp; Breakfast presented by</b>
          <img src="/assets/img/sponsors/godaddy/logo.svg" height="50"/>
        </td>
      </tr>
      <tr class="info">
        <th>9:15am</th>
        <td>
          Opening Ceremony
        </td>
      </tr>
      <tr>
        <th>9:30am</th>
        <td>
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <h4>Talks</h4>

              <ul>
                <% talks([{"last": "wong"}, {"last": "scott"}, {"last": "rosa"}]); %>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5">
              <h4>Workshop</h4>

              <p>
                <b>Philipp Hancke - &yet</b><br />
                WebRTC (Part&nbsp;1)
                <a href="https://ti.to/event-loop/cjsfest-2015">Register for Free</a><br />
              </p>
            </div>
          </div>
        </td>
      </tr>
      <tr class="info">
        <th>11am</th>
        <td>
          Coffee &amp; Snack Break
        </td>
      </tr>
      <tr>
        <th>11:20am</th>
        <td>
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <h4>Talks</h4>

              <ul>
                <%
                talks([
                  {"last": "bulmash"}, {"last": "baldwin"}, {"last": "n"}
                ]);
                %>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5">
              <h4>Workshop</h4>

              <p>
                <b>Philipp Hancke - &yet</b><br />
                WebRTC (Part&nbsp;2)
              </p>
            </div>
          </div>
        </td>
      </tr>
      <tr class="success">
        <th>12:45pm</th>
        <td>
          <b>Lunch</b>
        </td>
      </tr>

      <tr>
        <th>2:15pm</th>
        <td>
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <h4>Talks</h4>

              <ul>
                <%
                talks([
                  {"last": "murphey"}, {"last": "potch"}, {"last": "buck"}
                ]);
                %>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5">
            </div>
          </div>
        </td>
      </tr>

      <tr class="info">
        <th>3:40pm</th>
        <td>
          Break
        </td>
      </tr>
      <tr>
        <th>4:00pm</th>
        <td>
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <h4>Talks</h4>

              <ul>
                <%
                talks([
                  {"last": "lanzetta"}, {"last": "feminella"}, {"last": "wibowo"}
                ]);
                %>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5">
            </div>
          </div>
        </td>
      </tr>

      <tr class="success">
        <th>6pm</th>
        <td>
          <b>Dinner & Party with</b>

          <img src="/assets/img/sponsors/twilio/logo.svg" height="50" />
        </td>
      </tr>
    </tbody>
  </table>

</div>