<%
function talks(arr) {
  arr.forEach(function (talk) {
    var speakers = public.speakers._data.index.speakers.server,
        match = [];

    match = speakers.filter(function (value) {
      var name = value.name.toLowerCase().split(' ');
      value.first = name[0];
      value.last = name[name.length-1];

      for(var key in value) {
        if(typeof talk[key] !== 'undefined' && talk[key] == value[key]) {
          return true;
        }
      }

      return false;
    });

    if(!match.length) {
      return;
    }
    %>

    <%-
    partial(
      '../_partials/schedule/talk.ejs',
      match[0]
    )
    %>
  <% });
}
%>


<div id="schedule" class="day-schedule container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="first-title">Schedule <small>brought to you by</small></h2>

      <img src="/assets/img/sponsors/hbo/logo.svg" style="height: 75px;" />
    </div>
  </div>

  <table class="table table-hover">
    <tbody>
      <tr class="success">
        <td class="time">8:30am</td>
        <td>
          <p>
            <span class="uppercase">Registration &amp; Breakfast</span> presented by
            <img src="/assets/img/sponsors/godaddy/logo.svg" height="50"/>
          </p>
        </td>
      </tr>
      <tr class="info">
        <td class="time">9:15am</td>
        <td class="uppercase">
          Opening Ceremony
        </td>
      </tr>
      <tr>
        <td class="time">9:30am</td>
        <td>
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <h4>Talks</h4>

              <ul>
                <% talks([{"last": "wong"}, {"last": "scott"}, {"last": "rosa"}]); %>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5">
              <h4>Workshop</h4>

              <p>
                <b>Philipp Hancke - &yet</b><br />
                WebRTC
                <a href="https://www.kickstarter.com/projects/talky/talky-the-first-truly-simple-video-chat">Register on Kickstarter</a><br />
              </p>
            </div>
          </div>
        </td>
      </tr>
      <tr class="info">
        <td class="time">11am</td>
        <td class="uppercase">
          Coffee &amp; Snack Break
        </td>
      </tr>
      <tr>
        <td class="time">11:20am</td>
        <td>
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <h4>Talks</h4>

              <ul>
                <%
                talks([
                  {"last": "bulmash"}, {"last": "baldwin"}, {"last": "n"}
                ]);
                %>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5">
              <p>
                WebRTC (continued)
              </p>
            </div>
          </div>
        </td>
      </tr>
      <tr class="success">
        <td class="time">12:45pm</td>
        <td class="uppercase">
          Lunch
        </td>
      </tr>

      <tr>
        <td class="time">2:15pm</td>
        <td>
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <h4>Talks</h4>

              <ul>
                <%
                talks([
                  {"last": "murphey"}, {"last": "potch"}, {"last": "buck"}
                ]);
                %>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5">
            </div>
          </div>
        </td>
      </tr>

      <tr class="info">
        <td class="time">3:40pm</td>
        <td class="uppercase">
          Break
        </td>
      </tr>
      <tr>
        <td class="time">4:00pm</td>
        <td>
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <h4>Talks</h4>

              <ul>
                <%
                talks([
                  {"last": "lanzetta"}, {"last": "feminella"}, {"last": "wibowo"}
                ]);
                %>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5">
            </div>
          </div>
        </td>
      </tr>

      <tr class="success">
        <td class="time">6pm</td>
        <td>
          <p>
            <span class="uppercase">Dinner & Party</span> with

            <img src="/assets/img/sponsors/twilio/logo.svg" height="50" />
          </p>
        </td>
      </tr>
    </tbody>
  </table>

</div>