<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-push-2">
        <h3 id="speaking" class="text-center">Speaking / Call For Proposals</h3>

        <p>Stay Tuned! Cascadia Fest talk selections are now under way.
        Announcements will be made by April 15th, 2015. Thank you for your
        hard work and your awesome submissions!</p>
      </div>
    </div>
  </div>
</div>