<div class="col-xs-12">
  <h3 class="text-center">Connect &amp; Get Involved</h3>
</div>

<div class="col-xs-12 col-sm-4 col-sm-push-2">

<div id="mc_embed_signup">
  <h4 class="">
    Newsletter
  </h4>

  <p>Get announcements and information about tickets, speakers, and more</p>

  <form action="//cascadiajs.us1.list-manage.com/subscribe/post?u=ffa37cf28eebc9e75b8558f3b&amp;id=d1b100650c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="" target="_blank" novalidate>

    <label for="mce-EMAIL">Email Address</label>

    <div class="form-group">
      <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="your_email@example.com" required>
    </div>

    <input type="text" name="b_ffa37cf28eebc9e75b8558f3b_d1b100650c" value="" style="display: none;">
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">

  </form>
</div>

</div>

<div class="col-xs-12 col-sm-4 col-sm-push-2">
  <h4>Chat</h4>

  <p>Talk about anything CascadiaJS</p>

  <p><a href="https://gitter.im/cascadiajs/2015.cascadiajs.com?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge"><img src="https://badges.gitter.im/Chat.svg"/></a></p>

  <p>Share the joy of CascadiaJS with your friends</p>

  <%- partial("twitter.ejs") %>

  <h4>GitHub</h4>

  <p>Everything CascadiaJS Fest 2015 is being managed thorugh GitHub. Check
  out <a href="http://github.com/cascadiajs/2015.cascadiajs.com">our repo</a>
  to see everything that's going on.</p>
</div>