<header class="interior">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/">
          <img src="/assets/img/white-tree.svg" />

          <p>CASCADIA<span class="thin">JS FEST <span class="lightblue"><span>2</span><span style="letter-spacing: -.2em;">0</span><span style="letter-spacing: -.1em">1</span><span>5</span></span></span></p>

          <p class="small">July 8th - 10th, 2015 &nbsp;|&nbsp; <span class="green">Washington State</span></p>
        </a>
      </div>

      <%- partial("navigation-interior") %>
    </div>
  </nav>
</header>

