<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img alt="" src="/assets/img/aqua-tree.svg" />
          <p>CASCADIA<span class="thin">FEST 2015</span></p>
        </a>
      </div>

      <%- partial('navigation-interior') %>
    </div>
  </nav>
</header>

