<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= description %>">

    <meta property="og:image" content="http://godly-work.surge.sh/assets/img/og_image.png" />
    <meta property="og:title" content="CascadiaJS Fest 2015" />
    <meta property="og:description" content="CascadiaJSFest is a three-day, community-driven conference on the cutting edge of JavaScript and CSS. Browser, server, OS – we cover it all." />

    <link rel="icon shortcut" href="/assets/img/z.png">

    <title><%= title %></title>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="<%= stylesheet %>">
</head>
