<div class="collapse navbar-collapse" id="navbar-collapse">
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/#about">About</a></li>
    <li><a href="/speakers/">Speakers</a></li>
    <li><a href="/#venue">Venue</a></li>
    <li><a href="/#sponsor">Sponsors</a></li>
    <li><a href="/news">News</a></li>
  </ul>
</div>
