<div id="mc_embed_signup">
  <h3 class="text-center">Newsletter</h3>
  <p class="text-center">Get announcements and information about tickets, speakers, and more</p>

  <form action="//cascadiajs.us1.list-manage.com/subscribe/post?u=ffa37cf28eebc9e75b8558f3b&amp;id=d1b100650c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline center-block" target="_blank" novalidate>

    <label for="mce-EMAIL">Email Address</label>

    <div class="form-group">

      <input type="email" value="" name="EMAIL" class="form-control input-lg" id="mce-EMAIL" placeholder="cascadian@example.com" required style="width: 17em;">
    </div>

    <input type="text" name="b_ffa37cf28eebc9e75b8558f3b_d1b100650c" value="" style="display: none;">
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-lg btn-primary">

  </form>
</div>