// Import core bootstrap.
@import "./_bootstrap/bootstrap.less";

header {
	text-transform: uppercase;
}

.hero {
	text-align: center;
	background: #062a03;
	color: white;
}

footer {
	text-align: center;
	color: white;
	background: #1b2e4c;
}