@import "nanami-rounded-cjs2015.css";

// Import core bootstrap.
@import "./_bootstrap/bootstrap.less";

// Event Colors.
@cjs-color-primary: #0b4f4d;//Dark green;
@cjs-color-secondary: #33a143;
@cjs-color-alt: #fff105;

@cjs-color-dk-green: #062B00;
@cjs-color-lt-green: #33a143;
@cjs-color-dk-blue: #1c2e4c;
@cjs-color-lt-blue: #2f4e80;
@cjs-color-aqua-blue: #0B4F4D;

// Override bootstrap variables
@font-size-base: 16px;
@text-color: @gray-darker;

@brand-primary: @cjs-color-lt-green;

@navbar-border-radius: 0;
@navbar-height: 5rem;
@navbar-margin-bottom: 0;

@navbar-default-bg: white;
@navbar-default-border: white;
@navbar-default-color: @cjs-color-primary;
@navbar-default-brand-color: @cjs-color-primary;
@navbar-default-link-color: @cjs-color-primary;

@headings-font-family: "Nanami-Rounded-Med";
@headings-font-weight: normal;
@font-size-h2: 1.8rem;
@font-size-h3: 2.4rem;

@btn-primary-bg: @cjs-color-dk-blue;
@btn-primary-border: @cjs-color-lt-blue;

@padding-large-vertical: .7rem;
@padding-large-horizontal: 1rem;
@font-size-large: 2rem;
@line-height-large: 1.7;
@border-radius-large: .25em;

@well-bg: rgba(0, 0, 0, .8);
@well-border: transparent;
@border-radius-base: 0;

.content .row {
  padding-bottom: 2em;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.well {
  padding: 3.6rem;
}

.navbar>.container-fluid .navbar-brand {
  padding-top: 6px;
}

@media (min-width: @screen-md-min) {
  .container-fluid {
    max-width: 60em;
  }
}

.btn-lg {
  border-width: .5rem;
  padding: .6rem 1.5rem;
}

h2.tagline {
  color: #222;
  line-height: 1.3;
  font-family: "Nanami-Rounded-Lt"
}

h3 {
  text-transform: uppercase;
}

hr {
  border-width: 2px;
}

p a {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

a.btn {
  text-decoration: none;
}

header {
  text-transform: uppercase;

  .navbar-brand img {
    display: inline;
    height: 3.6rem;
  }

  .navbar .navbar-nav a {
    text-decoration: underline;
    font-weight: bold;
  }

}

.gold { color: @cjs-color-alt; }
.green { color: @cjs-color-secondary; }


.hero {
  font-family: "Nanami-Rounded-Lt";
  text-align: center;
  background: url("/assets/img/cjs2015-forest.jpg") no-repeat center top;
  background-size: cover;
  color: white;

  font-size: 2.2rem;
  padding-top: 4rem;
  padding-bottom: 2rem;

  h1 {
    font-family: "Nanami-Rounded-Lt";
    font-weight: normal;
    font-size: 7.2rem;
    margin-top: 0;
    margin-bottom: 3rem;
    color: inherit;
  }

  span.thin {
    font-family: "Nanami-Rounded-Thin";
    font-style: normal;
  }

  span.spacer {
    padding: 0 .75em;
  }

  img {
    height: 16rem;
  }
}

#cjs2015-venue {
  background: url("/assets/img/cjs2015-venue-big.jpg") no-repeat center top;
  background-size: cover;

  padding-bottom: 6em;
  color: white;

  address {
    font-family: @headings-font-family;
    font-size: 1.8rem;

    strong {
      font-size: 2.4rem;
    }

    text-transform: uppercase;
  }

  @media (min-width: @screen-md-min) {
    background-position: center -12em;
  }
}

#cjs2015-coc {
  background: url("/assets/img/cjs2015-family-1400.jpg") no-repeat center top;
  background-size: cover;

  @media (min-width: @screen-sm-min) {
    background-image: url("/assets/img/cjs2015-family-1000.jpg");
  }

  @media (min-width: @screen-xs-min) {
    background-image: url("/assets/img/cjs2015-family-600.jpg");
  }

  padding-bottom: 16em;

  .well {
    margin: 2em 0;
    padding: 1em;

    h3, h4, p {
      color: white;
    }
  }
}

footer {
  text-align: center;
  color: white;
  background: #1b2e4c;

  p {
    margin: 1.5em 0;
  }
}