<div class="col-xs-12 col-sm-6">
  <a class="sponsor-logo col-xs-4" href="#"><img src="http://dummyimage.com/180x100/dddddd/555555.png&text=Sponsor" alt="Sponsor image" /></a>
  <a class="sponsor-logo col-xs-4" href="#"><img src="http://dummyimage.com/180x100/dddddd/555555.png&text=Sponsor" alt="Sponsor image" /></a>
  <a class="sponsor-logo col-xs-4" href="#"><img src="http://dummyimage.com/180x100/dddddd/555555.png&text=Sponsor" alt="Sponsor image" /></a>
</div>