<div id="schedule" class="day-schedule container-fluid">
  <div class="row"><div class="col-xs-12">
    <h2 class="first-title">Schedule</h2>
    <p>
      <img alt="" src="/assets/img/sponsors/cmyk.png" style="width: 100px; float: left; margin-right: 1em;"/>
      Today's programming provided by CMYK - one way of looking at things
    </p>
  </div></div>

  <div class="row">
    <div class="col-xs-12 col-sm-7">
      <h3>Conference Track</h3>

      <table class="schedule css">
        <tbody>
          <tr>
            <td class="time">09:00</td>
            <td class="title">
              Registration -
              <span class="text-lower">coffee provided by
              <a href="#">
                <img alt="" src="/assets/img/sponsors/rgb.png" width="30" style="float: none;"/>
                RGB - another way of looking at things</a></span>
            </td>
            <td class="local"></td>
          </tr>
          <tr>
            <td class="time">10:00</td>
            <td class="title">
              <img alt="" src="/assets/img/curator/demo-image-02.png" class="profile-image"/>
              <a class="speaker" href="#">The Stranger</a>
              <a href="#tite-of-talk">The title of this amazing talk on elements</a>
            </td>
            <td class="local"></td>
          </tr>
          <tr>
            <td class="time">11:00</td>
            <td class="title">
              <img alt="" src="/assets/img/curator/demo-image-01.png" class="profile-image"/>
              <a class="speaker" href="#">Leslie Knope</a>
              <a href="#tite-of-talk">The title of this amazing talk on elements</a>
            </td>
            <td class="local"></td>
          </tr>
          <tr>
            <td class="time">12:00</td>
            <td class="title">Lunch</td>
            <td class="local"></td>
          </tr>
          <tr>
            <td class="time">13:45</td>
            <td class="title">
              <img alt="" src="/assets/img/curator/demo-image-04.png" class="profile-image"/>
              <a class="speaker" href="#">Bill Murray</a>
              <a href="#tite-of-talk">The title of this amazing talk on elements</a>
            </td>
            <td class="local"></td>
          </tr>

          <tr>
            <td class="time">15:00</td>
            <td class="title">
              <img alt="" src="/assets/img/curator/demo-image-05.png" class="profile-image"/>
              <a class="speaker" href="#">Astrid Farnsworth</a>
              <a href="#tite-of-talk">The title of this amazing talk on elements</a>
            </td>
            <td class="local"></td>
          </tr>
          <tr>
            <td class="time">16:30</td>
            <td class="title">
              <img alt="" src="/assets/img/curator/demo-image-03.png" class="profile-image"/>
              <a class="speaker" href="#">Jimi Hendrix</a>
              <a href="#tite-of-talk">The title of this amazing talk on elements</a>
            </td>
            <td class="local"></td>
          </tr>
          <tr>
            <td class="time">17:30</td>
            <td class="title">Break</td>
            <td class="local"></td>
          </tr>
          <tr>
            <td class="time">18:00</td>
            <td class="title">
              <img alt="" src="/assets/img/curator/demo-image-02.png" class="profile-image"/>
              <a class="speaker" href="#">The Stranger</a>
              <a href="#tite-of-talk">The title of this amazing talk on elements</a>
            </td>
            <td class="local"></td>
          </tr>
          <tr >
            <td class="time">19:00</td>
            <td colspan="2" class="title">
              PARTY TIME - <span class="text-lower">provided by <a href="#">HSL</a></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-xs-12 col-sm-5">
      <h3>Family Track</h3>

      <table class="schedule css">
        <tbody>
          <tr>
            <td class="time">09:00</td>
            <td class="title">
              Sailing
            </td>
            <td class="local"></td>
          </tr>
          <tr>
            <td class="time">10:00</td>
            <td class="title">
              Spa Day
            </td>
            <td class="local"></td>
          </tr>
          <tr>
            <td class="time">11:00</td>
            <td class="title">

            </td>
            <td class="local"></td>
          </tr>
          <tr>
            <td class="time">12:00</td>
            <td class="title">Lunch</td>
            <td class="local"></td>
          </tr>
          <tr>
            <td class="time">13:45</td>
            <td class="title">
              Golf
            </td>
            <td class="local"></td>
          </tr>

          <tr>
            <td class="time">15:00</td>
            <td class="title">

            </td>
            <td class="local"></td>
          </tr>
          <tr>
            <td class="time">16:30</td>
            <td class="title">

            </td>
            <td class="local"></td>
          </tr>
          <tr>
            <td class="time">17:30</td>
            <td class="title">Break</td>
            <td class="local"></td>
          </tr>
          <tr>
            <td class="time">18:00</td>
            <td class="title">

            </td>
            <td class="local"></td>
          </tr>
          <tr >
            <td class="time">19:00</td>
            <td colspan="2" class="title">
              PARTY TIME - <span class="text-lower">provided by <a href="#">HSL</a></span>
            </td>
          </tr>
        </tbody>
      </table>


      <h3>Map</h3>

      <img alt="A map of the conference venue." src="/assets/img/map.png" />

    </div>
  </div>
</div>