<div class="col-xs-12 col-sm-5">
  <div id="side-bar-sponsors" class="text-center">
  <br>
    <h5>CascadiaCSS Track</h5>

    <a class="sponsor-logo" href="#"><img src="http://dummyimage.com/240x140/dddddd/555555.png&text=Sponsor" alt="Sponsor image" /></a>
    <a class="sponsor-logo" href="#"><img src="http://dummyimage.com/240x140/dddddd/555555.png&text=Sponsor" alt="Sponsor image" /></a>
    <a class="sponsor-logo" href="#"><img src="http://dummyimage.com/240x140/dddddd/555555.png&text=Sponsor" alt="Sponsor image" /></a>
    <p>Magestic Coffee</p>
    <a class="sponsor-logo" href="#"><img src="http://dummyimage.com/180x100/dddddd/555555.png&text=Sponsor" alt="Sponsor image" /></a>
    <p>Delicious Lunch</p>
    <a class="sponsor-logo" href="#"><img src="http://dummyimage.com/180x100/dddddd/555555.png&text=Sponsor" alt="Sponsor image" /></a>
    <p>Luxurious Party Time</p>
    <a class="sponsor-logo" href="#"><img src="http://dummyimage.com/180x100/dddddd/555555.png&text=Sponsor" alt="Sponsor image" /></a>

  </div>
</div>