

<div class="post <% if (speakerIntro === true) { %> post-speaker <% } %>">
  <div class="post-header">
    <h1 class="post-title"><%- title %></h1>

    <% if (speakerIntro === true) { %>
      <h2 class="post-subtitle">
        <% if (day === 'browser') { %>
          CascadiaJS Browser Day
        <% } %>

        <% if (day === 'server') { %>
          CascadiaJS Server Day
        <% } %>

        <% if (day === 'css') { %>
          CascadiaCSS
        <% } %>

        , CascadiaFest 2015
      </h2>

      <img
        class="post-avatar"
        src="/assets/img/speakers/<%- photo %>"
        alt="" />
    <% } %>
  </div>

  <div class="post-content">
    <%- yield %>
  </div>
</div>
